

<% for page in @pages %>
  <% title page.name  %>
<%= page.content %>
<% end %>


<% content_for :side do %>
  <h2>Booking Stats</h2>
  <table id="stats">
    <tr>
      <td>Flights Booked</td><th><%= @booked %></th>
    </tr>
    <tr>
      <td>Flights Left</td><th><%= @free_flights %></th>
    </tr>

    <tr class="total">
      <td>Total No. of Flights</td><th><%= @not_booked %></th>
    </tr>

  </table>
            <ul>
              <li>Flights Booked (<%= @booked %>)</li>
              <li>Flights Left (<%= @free_flights %>)</li>
              <li>Total No. of Flights(<%= @not_booked %>)</li>
            </ul>

            <h2>Remember!</h2>
            <div class="error">

            <ul>
              <li>If departing please be on stand and contact Dublin Delivery on 121.870 10 mins prior to scheduled departure.</li>
              <li>Please familiarize yourself with all the relevant charts</li>
              <li>And above all else have a great time!</li>
            </ul>
            </div>
<% end %>
