<% title "Edit Flight" %>
<p>
  <%= link_to "Show", @flight %> |
  <%= link_to "View All", flights_path %>
</p>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @flight %> |
  <%= link_to "View All", flights_path %>
</p>
