<% content_for :side do %>
  <h2>Information</h2>
  <ul>
    <li>All times are UTC times.</li>
    <li>In case you book more than one flight, please ensure that there is enough time between the flights.</li>
    <li>Once booked, you will receive an email with confirming your booking.</li>
    <li>The routes given are real world routes, so please use them!</li>
  </ul>
<% end %>


<% title "Flights" %>

<table>
  <tr>
    <th>Airline</th>
    <th>Callsign</th>
    <th>Destination</th>
    
    <th>ETD</th>
    <th>Aircraft</th>
    
    <th>Routing</th>
    <th>Flight Level</th>
    <th>Status</th>
  </tr>
  <% for flight in @flights %>
    <tr>
      <td><%= image_tag "/images/airlines/#{h(flight.airline)}.bmp", :alt => flight.airline, :title => flight.airline %></td>
      <td><%=h flight.callsign %></td>
      <td><%=h flight.arr %></td>
      <td><%=h flight.dtime.strftime("%I:%M%") %></td>
      <td><%=h flight.aircraft %></td>
      <td><%=h truncate(flight.routing.upcase) %></td>
      <td><%=h flight.flight_level %></td>
      
      <td><%= link_to "Show", flight %> |
      <%= link_to "Edit", edit_flight_path(flight) %> |
      <%= link_to "Destroy", flight, :confirm => 'Are you sure?', :method => :delete %></td>
      <% if flight.booking.blank? %>
         <td><%= link_to "Book", "/bookings/new?id=#{h(flight.id)}" %></td>
         <% else %>
           <td class="error">Flight Booked<%= link_to "Booking", booking_path(flight.booking.id) %></td>
           
        <% end %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Flight", new_flight_path %></p>
