<% title "Flight" %>
<p>
  <%= link_to "Edit", edit_flight_path(@flight) %> |
  <%= link_to "Destroy", @flight, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", flights_path %>
</p>

<table>
  <tr>
    <th>Airline</th>
    <td><%= image_tag "/images/airlines/new/#{h(@flight.airline)}.gif", :alt => @flight.airline, :title => @flight.airline %></td>
  </tr>
  <tr>
    <th>Callsign</th>
    <td><%=h @flight.callsign %></td>
  </tr>
  <tr>
    <th>Origin</th>
    <td><%=h @flight.dep %></td>
  </tr>
  <tr>
    <th>Destination</th>
    <td><%=h @flight.arr %></td>
  </tr>
  <tr>
    <th>Departure Time</th>
    <td><%=h @flight.dtime.strftime("%H:%M") %> UTC</td>
  </tr>
  <tr>
    <th>Arrival Time</th>
    <td><%=h @flight.atime.strftime("%H:%M") %> UTC</td>
  </tr>
  <tr>
    <th>Enroute Time</th>
    <td><%=h @flight.enroute_time.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <th>Aircraft</th>
    <td><%=h @flight.aircraft.upcase %></td>
  </tr>
  <tr>
    <th>Inbound:</th>
    
    <td><%= @flight.inbound %></td>
  </tr>
  <tr>
    <th>Outbound: </th>
    <td><%= @flight.outbound %></td>
  </tr>
  <tr>
    <th>Booked </th>
    <td>
<% unless @booking.nil? %>
  Booked By <%=h @booking.name %>
<% else %>
  Not Booked!
<% end %>
    </td>
  </tr>
  <tr>
    <th>Flight Route </th>
    <td><%= @flight.routing.upcase %></td>
  </tr>
</table>


<p>
  <%= link_to "Edit", edit_flight_path(@flight) %> |
  <%= link_to "Destroy", @flight, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", flights_path %>
</p>
