<% content_for :side do %>
  <%= render 'info' %>
<% end %>


<% title "Book Flights" %>

<h3><%= link_to 'Flights from Dublin', departures_flight_bookings_path %></h3>
<h3>DEPARTURES FROM DUBLIN</h3>
<p>Use this page to book your flight from <b>Dublin</b>. In case you want to book more than one flight, keep in mind that the time between estimated time of arrival (ETA) and the next departure time (ETD) should be at least 30 minutes. The ETD (estimated time of departure) will be your off block time.<br />
<br />Try to use the correct aircraft-type or at least use an aircraft-type with similar performance data.</p>


<table style="width:400px;">
  <tr>
    <td class="error"><%= link_to 'Booked', '' %></td>
    <td>= Flight Booked</td>

    <td class="success"><%= link_to 'Book', '' %></td>
    <td>= Not Booked</td>
  </tr>
</table>
<table id="bookings_table">
  <tr>
    <th width="85px">Airline</th>
    <th width="70px">Callsign</th>
    <th width="35px" style="text-align:center;">ETD</th>
    <th width="50px" style="text-align:center;">Origin</th>
    <th width="35px"  style="text-align:center;">ETA</th>
    <th width="50">Aircraft</th>
    <th>Pilot</th>
    <th width="60px">Status</th>
  </tr>
  <% for flight in @flight_bookings %>
    <tr>
      <td><%= image_tag "/images/airlines/new/#{h(flight.airline)}.gif", :alt => flight.airline, :title => flight.airline %></td>
      <td><%=h flight.callsign %></td>
      <td style="text-align:center;"><%=h flight.dtime.strftime("%H:%M") %></td>
      <td><%=h flight.dep %></td>
      <td style="text-align:center;"><%=h flight.atime.strftime("%H:%M") %></td>
      <td><%=h flight.aircraft.upcase %></td>
      <td><% if flight.booking.blank? %>N/a<% else %><%=h flight.booking.name %><% end %></td>
      

      <% if logged_in? %>
        <td>
          <%= link_to "Show", flight %> |
          <%= link_to "Edit", edit_flight_path(flight) %> |
          <%= link_to "Destroy", flight, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
        <% if flight.booking.blank? %>
        <td class="success"><%= link_to "Book", "/bookings/new?id=#{h(flight.id)}" %></td>
      <% else %>
        <td class="error">Booked</td>

      <% end %>
    </tr>
  <% end %>
</table>
<%= render 'lastline' %>
