<% content_for :side do %>
  <%= render 'info' %>
<% end %>


<% title "Flights from Dublin" %>

<h3><%= link_to 'Flights to Dublin', arrivals_flight_bookings_path %></h3>

<h3>ARRIVALS TO DUBLIN</h3>
<p>Use this page to book your flight to <b>Dublin</b>. In case you want to book more than one flight, keep in mind that the time between estimated time of arrival (ETA) and the next departure time (ETD) should be at least 30 minutes. The ETD (estimated time of departure) will be your off block time.<br />
Try to use the correct aircraft-type or at least use an aircraft-type with similar performance data.</p>

<table style="width:400px;">
  <tr>
    <td class="error"><%= link_to 'Booked', '' %></td>
    <td>= Flight Booked</td>

    <td class="success"><%= link_to 'Book', '' %></td>
    <td>= Not Booked</td>
  </tr>
</table>




<table id="bookings_table">
  <tr>
    <th>Airline</th>
    <th>Callsign</th>
    <th>Destination</th>
    <th>ETD</th>
    <th>Aircraft</th>
    <th>Pilot</th>
    <th>Flight Level</th>
    <th>Status</th>
  </tr>
  <% for flight in @flight_bookings %>
    <tr>
      <td><%= image_tag "/images/airlines/new/#{h(flight.airline)}.gif", :alt => flight.airline, :title => flight.airline %></td>
      <td><%=h flight.callsign %></td>
      <td><%=h flight.arr %></td>
      <td><%=h flight.dtime.strftime("%I:%M") %></td>
      <td><%=h flight.aircraft %></td>
      <td><% if flight.booking.blank? %>N/a<% else %><%=h flight.booking.name %><% end %></td>
      <td><%=h flight.flight_level %></td>

      <% if logged_in? %>
        <td>
          <%= link_to "Show", flight %> |
          <%= link_to "Edit", edit_flight_path(flight) %> |
          <%= link_to "Destroy", flight, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
        <% if flight.booking.blank? %>
        <td class="success"><%= link_to "Book", "/bookings/new?id=#{h(flight.id)}" %></td>
      <% else %>
        <td class="error">Booked</td>

      <% end %>
    </tr>
  <% end %>
</table>

<p>In order to offer you the best period of traffic with the most interesting flights, all the real-world flights have been moved 3 hours forward. This year's schedule reflects the movements which took place at Dublin Airport on Saturday, 25th of April between 1300z and 1900z.</p>
<p>The VATeir ATC-Team is awaiting your visit with more than 20 controllers.</p>
