<p>Dear <%= @booking.name %></p>

<p>Thank you foor booking a flight to the Dublin Realops 2009!</p>
<h2>This flight arrives in Dublin</h2>
<h3>Your flight details are as follows:</h3>

<table>
  <tr>
    <td><b>Flight Number:</b></td>
    <td><%= @booking.flight.callsign %> (use this as your VATSIM callsign)</td>
  </tr>
  <tr>
    <td><b>Departure:</b></td>
    <td><%= @booking.flight.dep %></td>
  </tr>
  <tr>
    <td><b>Arrival:</b></td>
    <td><%= @booking.flight.arr %></td>
  </tr>
  <tr>
    <td><b>Departure Time:</b></td>
    <td><%= @booking.flight.dtime.strftime("%I:%M") %></td>
  </tr>
  <tr>
    <td><b>Arrival Time:</b></td>
    <td><%= @booking.flight.atime.strftime("%I:%M") %></td>
  </tr>
  <tr>
    <td><b>Aircraft:</b></td>
    <td><%= @booking.flight.aircraft %></td>
  </tr>
  <tr>
    <td><b>Routing:</b></td>
    <td><%= @booking.flight.routing.upcase %></td>
  </tr>
</table>

<p>Please note you must fly routing given above in this booking.</p>

<p>For full fuel and flight planning, please utilise the free vRoute application available to download at www.vroute.net.</p>

<p align="center">
**********************************************************************************************************************************<br />
                        IMPORTANT PLEASE READ<br />
**********************************************************************************************************************************</p>

<p>Please note your Departure Time and your assigned Flight Level Range very carefully. You are asked to be connected a minimum of 15 minutes before your scheduled departure time. This will allow you the best possible chance of arriving in Dublin at the approximate Arrival Time.</p>

<p>The majority of Flights entering Irish Airspace will be handled directly by Shannon Control EISN_*_CTR, however a number of flights will be handled directly by Dublin Radar upon entering the airspace. This will depend on your entry point and the Flight Level in which you enter the airspace.</p>

<p>Important frequencies to note for arriving aircraft are as follows:</p>
<table>
<tr><td>Shannon Control</td><td>      124.700(Low) or 131.150(Shannon)</td></tr>
<tr><td>Dublin Radar(North)</td><td>  129.170</td></tr>
<tr><td>Dublin Radar(South)</td><td>  129.170</td></tr>
<tr><td>Dublin Approach</td><td>      121.100</td></tr>
<tr><td>Dublin Tower</td><td>         118.600</td></tr>
<tr><td>Dublin Ground</td><td>        121.800</td></tr>
</table>

<p>Pilots should be familiar with the arrival procedures set out in the charts below, it is best to prepare by printing these charts:</p>

<p>Please note that in most cases the majority of aircraft will be vectored on to the localizer with out holding, however even with the best controllers some holding may be neccessary, so please be familiar with the published holding procedures for Dublin Airport.</p>
<ul>
<li>*Dublin Ground Chart*</li>
<li>*Dublin AD Chart*</li>
<li>*Dublin Departure Chart*</li>
<li>*ENR Chart*</li>
</ul>


<p>Kind Regards,<br /><br />
<b>The VATeir Dublin RealOps Team</b><br />
staff@vateir.com</p>