<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%=  stylesheet_link_tag 'realops' %>
    <%=  stylesheet_link_tag 'blueprint/screen', :media => "screen, projection" %>
    <%=  stylesheet_link_tag 'blueprint/print', :media => "print" %>
    <%= javascript_include_tag :defaults %>

    <!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= yield(:head) %>
  </head>

  <body>
    <div class="container">
      <div id="header" class="span-24 last">
        <%= render 'layouts/top' %>
      </div>




      <div id="main_body" class="span-24 last">
        <div class="span-22 prepend-1 append-1">
          
        </div>

        <div class="span-16 prepend-1">
          <% unless !logged_in? %>
            <%= render "layouts/admin" %>
          <% end %>
          <div id="flash_messages" class="span-16">
          <%= flash_messages %>
          </div>

          <%- if show_title? -%>
            <h1><%=h yield(:title) %></h1>
          <%- end -%>
          <%= yield %>
        </div>
        <div id="sidebar" class="span-7 last">
          <div class="section">

            <%= yield :side %>
            <%= render 'bookings/stats' %>
          </div>
        </div>
      </div>

      <%= render '/layouts/footer' %>
    </div>
  </body>
</html>
